@media (prefers-color-scheme: light){
    multitab-section {
        box-shadow: 0 4px 18px 0 rgba(99, 99, 99, 0.14);
        color: #1b1b1b;
        border: 0.5px solid #e7e7e7;
        background-color: white;
    }
    
    
    multitab-header-title, multitab-tabs {
        border-bottom: 0.5px solid #d5d4d4;
        background: #fafafa;
    }
    
    multitab-tabs span:hover {
        background-color: #ededed;
    }
    multitab-tabs span.tab-selected {
        background-color: #dedede;
    }
    
   
}