
obj/
bin/
.DS_Store
.vs/
MultiplatformLauncher/build/
.idea/
.vscode/
Temp/
docs/doxygen/
HSB/TLS/
*.cs.bak
TLSTesting/
Runner/uploaded/
.VSCodeCounter/
Releases/
*/build/
Tests/
MultiplatformLauncher/CompileCode.sh
