
obj/
bin/
.DS_Store
.vs/
MultiplatformLauncher/build/
.idea/
.vscode/
Temp/
docs/doxygen/
HSB/TLS/
*.cs.bak
TLSTesting/
Runner/uploaded/
.VSCodeCounter/
Releases/
build/
MultiplatformLauncher/CompileCode.sh
server_log.txt
Examples/BackofficeDemo/frontend/node_modules/
Examples/BackofficeDemo/frontend/dist/
