body{
    /* font: 400 13.3333px "ProductSans"; */
    font-family: "eSans", "serif";
    margin:0;
}

::-webkit-scrollbar {
    width: 4px;
    background: #1565c0;
    margin: 4px;
  }
::-webkit-scrollbar-thumb  {
    background: #2196f3;
  }
#container{
    position: fixed;
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 8px;
    border-color: #bcbcbc;
    background: whitesmoke;
}
#actionbar{
    /* position:fixed; */
    width: 100%;
    height: 48px;
    top:0;
    left:0;
    background: #fbfbfb;
    box-shadow: -1px 4px 9px 3px #b9b9b91c;
    border-bottom: 0.5px solid #C5C5C5;
}
#actionbarTitle{
    font-family: "eSans", "Roboto", "serif";
    font-size: 24px;
    margin: 8px 12px;
    position: absolute;
    color:#707070;
}
.actionBarActionBtn{
    float:right;
    border: 0.5px solid #909090;
    color: #707070;
    background: #ffffff;
    padding: 6px;
    border-radius: 64px;
    margin: 6px;
    /* font-weight: bold; */
    font-size: 21px;
    cursor: pointer;
}
.actionBarActionBtn:hover{  
    
    color:#232323;
    background:#a2a2a2;
  
}
#searchBox{
    position:absolute;
    left:10px;
    top:64px;
    width: calc(100% - 390px);
    height:calc(100% - 74px);
    border:0.5px solid #C5C5C5;
    border-radius: 4px;
    box-shadow: -1px 4px 9px 3px #b9b9b94f;
}

#detailBox{
    position:absolute;
    left: calc(100% - 370px);
    top:64px;
    width: 360px;
    height:calc(100% - 74px);
    border:0.5px solid #C5C5C5;
    border-radius: 4px;
    box-shadow: -1px 4px 9px 3px #b9b9b94f;
    overflow-y: auto;
    overflow-x: hidden;
}
#searchBar{
    position:absolute;
    width: calc(100% - 47px);
    height: 32px;
    left:4px;
    top:8px;
    border-radius: 4px;
    border:0.5px solid #C5C5C5;
    padding: 0px 13px;
    margin: 4px;
    display: block;
}
#searchBar:active{
    border:0.5px solid #a1a1a1;
}
#searchBarIcon{
    position:absolute;
    color:#7a7a7a;
    left: calc(100% - 44px);
    top: 16px;
    font-size: 24px;
}
.sboxBar{
    width:100%;
    position:absolute;
  
    
}
#searchBoxActionbar{
    height: 82px;
    top:0;
    border-radius: 4px 4px 0 0;
    border-bottom:0.5px solid #C5C5C5;
    background: #fbfbfb;
}
#searchBoxBottombar{
    height: 30px;
    top:calc(100% - 30px);
    border-radius: 0 0 4px 4px ;
    border-top:0.5px solid #C5C5C5;
}

div#searchFilters {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    position: absolute;
    top: 48px;
    width: 100%;
    /* background: blue; */
    height: 32px;
    overflow: auto;
    white-space: nowrap;
    color: #424242;
}
#dataContainer::-webkit-scrollbar,
#searchFilters::-webkit-scrollbar {
   display: none;
}
.displayBlock{
    display: inline-block;
}
.filterText{
    padding:5px 0px;
}
.filter{
    border: 1px solid #C5C5C5;
    border-radius: 64px;
    padding: 2px 12px;
    margin-left: 8px;
    width: fit-content;
    height: 22px;
    margin-top: 0px;
    display: inline-block;
    background: white;
    cursor: pointer;
}
.separator{
    position: relative;
    border: 0.5px solid #bfbfbf;
    border-radius:64px;
    background: #C5C5C5;
    margin: -9px 8px;
    height: 24px;
}

.card {
    position: relative;
    width: 440px;
    height: auto;
    background: #fbfbfb;
    margin: 8px;
    border:0.5px solid #C5C5C5;
    border-radius:4px;
    display: flex;
    cursor: pointer;
}
.card > img{
    height: calc(100% - 8px);
    /* top: 4px; */
    /* left: 4px; */
    position: relative;
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
    /* box-shadow: -1px 4px 9px 3px #b9b9b94f; */
    margin: 4px 8px 4px 4px;
}


div#dataContainer {
    position: absolute;
    height: calc(100% - 114px);
    top: 84px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    /* flex-wrap: inherit; */
    align-content: flex-start;
    background: #ffffff;
}

.card > div label{
    font-size:12px;   
}
th[value="title"] {
    font-size: 19px !important;
    text-align: left;
}
div[value="cardActions"] > button {
    border: transparent;
    background: transparent;
    color:#0773A4;
    /* float: right; */
    /* font-weight: bold; */
    font-family: 'MaterialIcon';
    font-size: 25px;
    margin: 18px -2px;
    display: block;
    width: 32px;
    cursor: pointer;
}

div[value="cardActions"]{
       border-left: 0.5px solid #C5C5C5;
       border-radius: 0px;
       /* position: relative; */
       left: 163px;
       margin: 0px -40px 0px 0px;
       width: 40px;
       /* float: right; */
       display: flex;
       flex-direction: column;
}
div[value="cardActions"]>button:last-child{
  color:#d00404;
}
/*Card Hover btn style
div[value="cardActions"] > button:hover {
   color:white;
    border-radius:64px;

    background:#05587d;
    border:0.5px solid #03405a ;
}
div[value="cardActions"]>button:last-child:hover{
   background: #d00404;
   border:0.5px solid #a10000;
  }
*/
  .fright{
    float:right;
  }




  /*LOGIN*/

#loginBackgrnd{
    background-image: url("/images/loginBack.jpg");
    background-size:100% 100%;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    filter: blur(1px);
}
#loginWindow{
    position: absolute;
    width: 320px;
    /* height: auto; */
    left: calc(50% - 185px);
    top: 25%;
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
    box-shadow: -1px 4px 9px 3px #b9b9b94f;
    margin: 24px;
    text-align: center;
    background-color: white;
    padding: 0px;
}
#loginTitleBar{
    border-radius: 4px 4px 0 0;
            border-bottom: 0.5px solid #C5C5C5;
            background: #fbfbfb;
            padding: 8px 0px;
            font-weight: bold;
            font-size: 24px;
}
#loginContent{
    /* width:100%; */
    /* top:24px; */
    background: #ffffff7a;
    padding: 24px 0 31px 0;
    text-align: center;
}

#loginBottomBar{
    border-radius: 0 0 4px 4px;
    border-top: 0.5px solid #C5C5C5;
    background: #fbfbfb;
    padding: 10px 10px;
    font-family: monospace;
}

#loginContent > input {
    position:relative;
    width:calc(100% - 32px);
    margin:8px;
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
    height: 24px;
    background: #ffffff7a;
}
#loginContent > button {
    position:relative;
    float:right;
    margin: 0 14px;
    padding: 0 16px;
    border: 0.5px solid #0161d5;
    background:#0071FB;
    color:#ffffffea;
    border-radius: 4px;
    height: 24px;
}
.UploadDialog {
    position: absolute;
    z-index: 2;
    width: 510px;
    height: 340px;
    left: calc(50% - 255px);
    top: calc(50% - 175px);
    border: 0.5px solid #C5C5C5;
    border-radius:4px;
    padding:10px;
    background: white;
}
#Upload_dragdrop{
    width:200px;
    height:100%;
    border:2px dashed black;
    border-radius: 4px;
}

#Upload_dragdrop > input{
    position: absolute;
    width: 200px;
    height: 320px;
    top: 30px;
    cursor: pointer;
    opacity: 0;
}
.financeDialogIcon >  input{
    position: absolute;
    width: 200px;
    height: 268px !important; 
    top: 30px;
    cursor: pointer;
}
div#Upload_dragdrop > img {
 width: 100px;
    margin-top: 74px;
    filter: opacity(0.75);
    padding: 51px;

}
.financeDialogIcon > img{
   
    
    width: 70px;
    margin-top: 32px;
    filter: opacity(0.75);
    padding: 39px;
}

#Upload_title{text-align: center;top: -5px;position: relative;font-weight: bold;}
#Upload_content{
    display:flex;
    height: calc(100% - 24px);
}
.blurredBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff38;
    backdrop-filter: blur(6px);
}

div#Upload_infobox {width: -webkit-fill-available;}
.Upload_content_window > input{
    position:relative;
    width: -webkit-fill-available;
    margin: 4px -2px 4px 6px;
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
    height: 24px;
    background: #ffffff7a;
}
/* #Upload_infobox  > input{
    position:relative;
    width: 100%;
    margin: 4px;
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
    height: 24px;
    background: #ffffff7a;
} */

div#Upload_permissions_box {
    width: calc(100% - 6px);
    margin-left: 6px;
    height: 100px;
    border:0.5px solid #C5C5C5;
    border-radius:4px;
    overflow-y: auto;
}
.Upload_content_window > button {
    border:0.5px solid #b7b7b7;
    border-radius:4px;
    /* background: rgb(107,176,245);
background: linear-gradient(180deg, rgba(107,176,245,1) 0%, rgba(8,125,255,1) 100%);*/
    background:white;
    color:#2c2c2c;
    float: right;
    font-weight: bold;
    margin-top: 24px;
    margin-left:4px;
    padding: 4px 13px;
    /* position: absolute; */
}
.financeDialog{
    height: 290px;
    top: calc(50% - 145px);
}
#Upload_finance > input:not([type=radio]) {
  width: calc(100% - 20px);
}
#Upload_finance > input[type=radio] {
    width: auto;
    height: 12px;
    margin-top: 10px;
  }
#Upload_infobox > button:hover {
      background:#f1f1f1e2;
}
#Upload_infobox > button:active {
      background:#e2e2e2;
}
#Upload_infobox > button:nth-child(8) {
   
    background: rgb(107,176,245);
    background: linear-gradient(180deg, rgba(107,176,245,1) 0%, rgba(8,125,255,1) 100%);
    color:#ffffff;   
}
#Upload_infobox > button:nth-child(8):hover {
       background: rgb(107,176,245);
    background: linear-gradient(180deg, rgb(100 166 231) 0%, rgb(7 113 229) 100%);
}
#Upload_infobox > button:nth-child(8):active {
      background: rgb(107,176,245);
    background: linear-gradient(180deg, rgb(87 145 203) 0%, rgb(1 95 199) 100%);
}



#Upload_permissions_box > table {
   
    width:100%;
}

.miniPreviewImg{
    width: 128px !important;
    max-height: 180px !important;
}
/*dettagli*/
.previewImg {
    width: 300px;
    height: 421px;
    margin: 20px 30px 30px 30px;
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
    box-shadow: -1px 4px 9px 3px #b9b9b94f;
}

#detailBox > input, #detailBox > textarea{
    position:relative;
    width: 312px !important;
    /* padding: 0 54px; */
    margin: 4px 18px !important;
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
    height: auto;
    min-height: 24px;
    background: #ffffff7a;
}
#detailBox > label{
    margin: 20px;
}
#detailBox > div >label:first-child{
    margin: 0 120px;
    font-size: 20px;
    display: block;
}
#detailBox > div:first-child{
  border-bottom: 0.5px solid #C5C5C5;
    background: #fbfbfb;
    /* padding-bottom: 29px; */
    height: 30px;
    padding-top: 5px;
}
#detailBox > 
div:nth-child(3) {
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
    position: relative;
    left: 30px;
    width: 300px;
    top: -16px;
}
#detailBox > 
div > button{
    background:transparent;
    border: none;
    height:32px;
    border-right:1px solid #C5C5C5;
    padding: 0 12px;
    width: 75px;
    padding:0;
}
#detailBox > 
div > button:hover{
    background:#efefef;
  
}
#detailBox > 
div > button:active{
    background:#d5d5d5;
}

#detailBox > 
div > button:last-child{
    border-right:none;
}

#detailBox > table {
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
    margin: 10px 19px 10px 18px;
    width: -webkit-fill-available;
}

.card > div > table  {
    width:100%;
    height:100%;
    border-spacing: 0;
    border-collapse: collapse;
    /* border-radius: 4px; */
}

.card > div > table > tbody > tr:not(:last-child) > td{
    border-bottom: 1px solid lightgrey;
   
    border-radius: 4px;
}

#dataContainer table{
    background:#fbfbfb;
    border-collapse:collapse;
    width:100%; 

}

#dataContainer tbody > tr{    
    height: 32px;
}
#dataContainer tbody > tr:nth-child(odd){
    background:#f2f2f2;
   
}
#dataContainer  tbody > tr:nth-child(even){
    background:#ececec;
} 
#dataContainer tr > td:first-child{
    text-align:center;
}

.incomeIcon{
    color: #ffffff;
    background: #4caf50;
}
.incomeRow{
    background:#8bc34a;
}
.outcomeIcon{
    color: #ffffff;
     background: #d32f2f ; 
}
.outcomeRow{
    /*background:#c62828;*/
}
.removeIcon{
    background: #f44336;
    border: 0.5px solid #d32f2f;
    border-radius: 48px;
    padding: 4px;
    color: white;
    cursor: pointer;
    margin-right: 8px;
}
.editIcon{
    background: #03a9f4;
    border: 0.5px solid #0288d1;
    border-radius: 48px;
    padding: 4px;
    color: white;
    cursor: pointer;
}
div#Upload_finance {
    padding-left: 4px;
    width: 100%;
}
#searchBoxBottombar > label:first-child {
    margin: 6px;
    display: block;
    font-size: 14px;
}
#searchBoxBottombar > button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    border: 0.5px solid #C5C5C5;
    border-radius: 4px;
}

.removeFilter{
    color:rgb(209, 24, 49);
    font-size: 10px;
}