@font-face {
    font-family: "CascadiaMonoPL";
    src:
        local("CascadiaMonoPL"),
        url("CascadiaMonoPL.ttf");
}


body {
    font-family: "system-ui", "eSans", "Roboto", "serif";
    background: #13222E;
    background-image: linear-gradient(101deg, #004680 0%, #13222E 33%);
    background-attachment: fixed;
    margin: 0;
    color: white;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "CascadiaMonoPL";

}

.footer {
    font-family: CascadiaMonoPL;
    width: 100%;
    text-align: center;

    position: fixed;
    padding: 20px 0px;
    bottom: 0px;
    z-index: 2;
    background: #14212d8a;
    backdrop-filter: blur(4px);
}

#background {
    position: fixed;
    float: right;
    right: -100px;
    height: 100%;
    z-index: -1;
}

.font_cascadia {
    font-family: CascadiaMonoPL;
}



#actionbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    z-index: 20;

}

.actionbar_item {
    padding: 16px;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    vertical-align: middle;
    gap: 16px;
    text-decoration: none;
}

.invert {
    filter: invert(1);
}

.hflex {
    display: flex;
    text-align: center;
    align-items: center;
}

a:visited {
    color: white;
}

a:link {
    text-decoration: none;
}

.whiteLink {
    color: white;
    cursor: pointer;

}

.whiteLink:link {
    text-decoration: underline;
}

.whiteLink:visited {
    color: white;
}



.separator {
    width: 1px;
    height: 48px;
    background-color: white;
    margin: 16px;
}

/*test*/

.button {
    border: 1px solid #2B4E7B;
    box-shadow: 0 4px 18px 0 rgba(99, 99, 99, 0.14);
    border-radius: 8px;
    background: #000000;
    background: rgba(19, 34, 46, 0.91);
    font-family: CascadiaMonoPLRoman-Bold;
    font-size: 32px;
    color: #FFFFFF;
    padding: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    padding: 16px;
    font-size: 27px;
    gap: 16px;
    width: fit-content;
}

.button>img {
    padding-left: 8px;
}

.button>span {
    margin-right: 8px;
}

/*spacers*/
spacer {
    display: block;
    height: 16px;
    width: 16px;
    position: relative;

}



@media screen and (max-width: 1919px) {
    #background {
        left: 50%;
    }
}