/*Tabs styles*/

multitab-section {
    border-radius: 8px;
    font-family: UbuntuMono-Bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 27px;
    gap: 16px;
    width: 100%;
}

multitab-header {
    display: flex;
    flex-direction: column;
}

multitab-header-title {
    font-family: CascadiaMonoPL;
    margin: 0px;
    font-size: 16px;
    position: relative;
    padding: 8px 12px;
    width: calc(100% - 24px);
    border-radius: 8px 8px 0 0;
}

multitab-tabs {
    font-family: UbuntuMono;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    vertical-align: middle;
}

multitab-tabs span {
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    border-radius: 0px;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    gap:16px;
}

.contentDescription{
    font-family: monospace;
    font-size: 14px;
    padding: 8px 16px;
    display: block;
}

.tab {
    display: none;
}

.selected {
    display: block;
}

multitab-header-title > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}