.header {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-top: 80px;
}

.header>div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header>div>h1,
.header>div>h3 {
    
    margin: 0;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 100%;
}

.subcontainer>section {
    margin: 10px 30px;
}



a:link,
a:visited {
    text-decoration: none;
}


.twoItemsCol {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.twoItemsCol::-webkit-scrollbar {
    display: none;
}


.normalizeSize {
    width: 24px;

}

h4 a:visited {
    color: rgb(202, 253, 255);
}


.downloadLink {
    font-size: 16px;
    padding: 16px;
    color: white;
    display: flex;
    width: calc(100% - 32px);
    align-items: center;
    gap: 16px;
}

.downloadLink>div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.downloadLink>div>span {
    padding: 0;
}

.downloadLink>div>img {
    width: 24px;
}

.downloadLink:hover {
    background-color: #376198;
}

#dotnet{
    width: 50%;
}